@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  
  body {
    @apply m-0 font-sans;
  }
}

@layer utilities {
  .container-custom {
    @apply max-w-screen-xl mx-auto px-6;
  }
}